<!doctype html>
<title>jQuery Example</title>
{#<script type=text/javascript#}
{#  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>#}

<script type=text/javascript
        src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}{% endblock %}
